<GridLayout class="page">
  <!-- CONTENT -->
  <GridLayout class="content">
    <StackLayout>
      <!-- PAGE CONTENT -->
      <Image class="ns-image" height="200" width="200" src="~/assets/icons/icon.png"></Image>

      <Label text="¡Bienvenido!" class="h1 text-center"></Label>
  
      <Button text="Crear Cuenta" class="btn btn-primary" (tap)="onCreateAccountTap()"></Button>
      <Button text="Iniciar Sesión" class="btn btn-secondary" (tap)="onLoginTap()"></Button>
    </StackLayout>
  </GridLayout>

  <AbsoluteLayout #notificationPopup class="notifications"></AbsoluteLayout>
</GridLayout>