<StackLayout class="notification-popup" >
    <StackLayout (tap)="onOverlayDummyTouch()" class="notification" *ngFor="let notification of notifications">
        <FlexboxLayout  class="message"
                        justifyContent="space-between"
                        borderColor="#063215" borderWidth="1">
    
            <Label  [text]="notification.message"></Label>
            <Image  class="ui-icon cross" src="~/assets/icons/cross.png" 
                    height="30" width="30"
                    (tap)="closeNotification(notification)"></Image>

        </FlexboxLayout>
    </StackLayout>
</StackLayout>